 {{> head }}
 {{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Hasegawa Chisame</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum fugiat esse, maiores tempore dolore quisquam! Fuga molestias nemo autem nesciunt saepe quaerat animi, delectus veritatis earum quibusdam inventore libero neque?</p>
    </div>
    <div class="col-4">
        <img src="assets/img/chisame-thumbnail.jpg" alt="" class="img-thumbnail">
    </div>
</div>

 {{> footer }}